<button id="scrapeBtn">Scrape</button>
<button id="displayBtn">Display Results</button>

<div>
  <h1>Articles</h1>
  {{#each data}}
  <ul>
    <li>{{ title }}</li>
    <li>{{ summary }}</li>
    <li>{{ link }}</li>
  </ul>
  {{/each}}
</div>


{{!-- jQuery --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
{{!-- JavaScript --}}
<script src="assets/js/app.js"></script>