#newspaper {
  height: 100vh;
  width: auto;
  background-image: url(../images/newspaper.png);
  background-size: cover;
  background-position: center;	
}

#container {
  display: grid;
  grid-template-columns: ;
  grid-template-rows: ;
  
}