html {
  box-sizing: border-box;
  background-image: url(../images/blank-newspaper.jpg);
  background-size: cover;
}
*:before,
*:after {
  box-sizing: border-box;
}

.container{
  display: grid;
  grid-template-rows: 100px 14fr 1fr;
  grid-template-columns: 2fr 5fr 3fr;
  grid-template-areas: 
    "header header header"
    "nav main aside"
    "footer footer footer";
  grid-gap: .75em;
}
header {
  grid-area: header;
  grid-column: 1 / 4;
  border-bottom: solid 2px;
}
main {
  grid-area: main;
  grid-column: 1 / 4;
  border-top: solid 1px;
}
footer {
  grid-area: footer;
}
#paper-title {
  font-family: 'Playfair Display SC', serif;
  font-style: italic;
  font-size: 3rem;
  text-align: center;
  margin-top: 0;
}